<% provide(:title, '') %>
<div class="center hero-unit">
  <h1>Welcome to Fakebook!</h1>

  <h2>
	Please Login:
  </h2>
	<h2>
		If you're new to Fakebook, then please:
	</h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

